@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--main-font:'Pacifico', cursive;
}

html{
	font-family: sans-serif;
}
header{
	height: 100vh;
	width: 100%;
	background-image: url("home-page.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.main-header{
	text-align: center;
	transition: 0.5s;
}
.main-header:hover{
	-webkit-box-shadow: 0px 11px 51px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 11px 51px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 11px 51px 0px rgba(0,0,0,0.75);
}
.main-header h1{
	font-size: 3.5rem;
	font-family: var(--main-font);
	color: #5F5FB0;
	margin: 20px;
}
.main-header hr{
	width: 50%;
	margin: auto;
	padding: 5px;
	background: #E1F06C;
	border: none;
}
.main-header h3{
	margin-top: 20px;
	color: #5F5FB0;
	font-size: 2rem;
}
.main-header input{
	width: 90%;
	padding: 1rem;
	margin: 20px 0px;
	border: none;
	border-bottom: 2px solid #5F5FB0;
	font-size: 1.5rem;
	background: transparent;
	outline: none;
}
.main-header button{
	padding: 1rem 3rem;
	font-size: 1.2rem;
	background: #B0A2EF;
	color: #fff;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.5s;
	outline: none;
	margin: 20px;
}
.main-header button:hover{
	transform: scale(1.2);
}